div.paginator-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.index-button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: var(--new-button-color);
    font-weight: 600;
}

.index-button.prev-button-link:hover , .index-button.next-button-link:hover {
    background-color: var(--primary-background-color);
    transition: background-color 0.3s ease;
}
